@using Store.MVC.Models
@using Store.MVC.HtmlHelpers
@model CakeListView 

@{
    ViewBag.Title = "Our Cakes";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>Our Cakes</h2>

@foreach (var cake in @Model.Cakes)
{
   @Html.Partial("CakeSummary", cake)
}
    <div>
        @Html.PageLinks(Model.PagesInfo, x => Url.Action("List", new { page = x }))
    </div>