
@{
    Layout = null;
    ViewBag.Title = "Shoppie";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/HomePageStyle/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HomePageStyle/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/HomePageStyle/css/main.css">
    <link href="~/Content/ErorStyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shoppie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"> @Html.ActionLink("Категории", "List", "Cake", new { area = "" }, null)</li>
                    <li><a href="#"> About</a></li>
                    <li><a href="#"> Help</a></li>
                    <li><a href="#"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="welcomeMsg">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Welcome to our Shop</h1>
                    <h2>We always glad to see you there<h2>
                </div>
            </div>
        </div>
    </div>



    <div class="container w">
        <div class="row centered">
            <br><br>
            <div class="col-lg-4">
                <i class="fa fa-heart"></i>
                <h4>Register</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, placeat quis? Aut voluptates velit eius facere rerum id
                    fugit minima eaque amet, architecto, magnam quibusdam corporis sit!
                    If you already have an account you can <a href="#">Log In</a>
                </p>
                <button class="btn btn-primary btn-md">Sign up &raquo;</button>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-shopping-cart"></i>
                <h4>Purchase</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, placeat quis? Aut voluptates velit eius facere rerum id
                    fugit minima eaque amet, architecto, magnam quibusdam corporis sit!
                    Eligendi, rerum quidem!
                </p>
                <button class="btn btn-primary btn-md">Categories &raquo;</button>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-plane"></i>
                <h4>Get it anywhere</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, placeat quis? Aut voluptates velit eius facere rerum id
                    fugit minima eaque amet, architecto, magnam quibusdam corporis sit!
                    Eligendi, rerum quidem!
                </p>
                <button class="btn btn-primary btn-md">Learn More &raquo;</button>
            </div>
        </div>
    </div>
    <br>
    <div id="dg">
        <div class="container fluid">
            <div class="row centered">
                <h4>Top categories</h4>
                <br>
                <div class="col-lg-4">
                    <div class="tilt"><a href="#"><img src="#" width="300" height="450" alt=""></a></div>
                    <h3>Cakes</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Placeat rem alias deleniti voluptates sapiente mollitia itaque ad, officiis,
                        quibusdam consectetur explicabo sunt quasi iste eveniet porro nemo cum numquam nam.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="tilt"><a href="#"><img src="#" width="300" height="450" alt=""></a></div>
                    <h3>Cakes</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet voluptatibus fugit,
                        dolorem nam maxime iusto ad optio asperiores accusamus ullam magni at placeat pariatur,
                        explicabo, soluta odio itaque fugiat! Distinctio?
                    </p>

                </div>
                <div class="col-lg-4">
                    <div class="tilt"><a href="#"><img src="#" width="300" height="450" alt=""></a></div>
                    <h3>Cakes</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nihil
                        quis corrupti doloremque sapiente dolores ex odio, nemo dicta animi,
                        quo tenetur maxime hic ad nostrum, est atque ab assumenda!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container wb">
        <div class="row centered">
            <br><br>
            <div class="col-lg-8 col-lg-offset-2">
                <h4></h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, possimus?
                    Nostrum, modi impedit
                    voluptates nulla magnam blanditiis reprehenderit laborum ipsam minus maiores ea,
                    dolore vel unde repudiandae explicabo, et adipisci.
                </p>
                <p><br><br></p>
            </div>
            <div class="col-lg-2">
                <div class="col-lg-10 col-lg-offset-1"><img src="" alt="" class="img-responsive"></div>
            </div>
        </div>
    </div>

    <footer>
        <hr>
        ShamanovInc. All Rights reserved.
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384
   -Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>